#card{
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: green;
}
#name{
    font-size: large;
    color: green;
}


#contfooter{
    max-width: 1170px;
    
    margin: auto;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
ul{
    list-style: none;
}
#rowfooter{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}